---
layout: layout.liquid
title: Status Page Buildout
---

    <div class="about">
        <div class="about-title">About</div>
        <div class="about-info">
            <p>Name: Astral Explorer</p>
            <p>Antenna: SkySpan</p>
            <p>Elevation: 49 deg</p>
            <p>Wind Speed: 5 km/hr</p>
        </div>
    </div>