---
title: Status Page Buildout
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<header>
  <div class="header">
    <a href="/"><img class="logo" src="/images/logo.png"></a>
    <h1>Active Experiments</h1>
  </div>
</header>
<body>
<div class="main">
    <div class="projects">
        <div class="option">
          <a href="/svg">
            <div class="satellite">
                <img class="medium" src="/images/satellite.png">
            </div> </a>
            <p class="name">SVG</p>
        </div>
        <div class="option">
          <a href="/irr">
            <div class="satellite">
                <img class="large" src="/images/satellite.png">
            </div> </a>
            <p class="name">IRR</p>
        </div>
        <div class="option">
          <a href="/cwr">
            <div class="satellite">
                <img class="small" src="/images/satellite.png">
            </div> </a>
            <p class="name">CWR</p>
        </div>
        <div class="option">
          <a href="/lsl">
            <div class="satellite">
                <img class="large" src="/images/satellite.png">
            </div> </a>
            <p class="name">LSL</p>
        </div>
        <div class="option">
          <a href="/spr">
            <div class="satellite">
                <img class="small" src="/images/satellite.png">
            </div> </a>
            <p class="name">SPR</p>
        </div>
        <div class="option">
          <a href="/aex">
            <div class="satellite">
                <img class="medium" src="/images/satellite.png">
            </div> </a>
            <p class="name">AEX</p>
        </div>
    </div>
    {{ content }}
</body>
</html>