header {
    background: #121D29;
    padding: 10px;
    color: #cccccc;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    padding-right: 20px;
}

body {
    font-family: "Lucida Console", Courier, monospace;
    background: #080808;
    color: #cccccc;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 36px;
}

.about {
    width: 100%;
}

.about-title {
    color: #FFA500;
    font-size: 32px;
    text-align: center;
}

.main {
    padding-top: 40px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 35px;
}

.option {
    margin: auto;
    text-align: center;
}

.large {
    width: 220px;
    height: 220px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.medium {
    width: 180px;
    height: 180px;
    padding-top: 40px;
    padding-right: 35px;
    padding-left: 35px;
}

.small {
    width: 150px;
    height: 150px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.satellite {
    height: 260px;
    background: #121D29;
    border-color: #121D29;
    border-radius: 10px;
}

.name {
    font-size: 20px;
}


.satellite:hover {
    border-style: solid;
    border-color: #121D29;
    box-shadow: 0 0 20px #FFA500;
    border-radius: 10px;
}

.about-info {
    font-size: 28px;
}